:root {
  /* colors */
  --primary-color: #007bff;
  --light-color: #ced4da;
  --input-default-bg: #e8f0fe;
}

.layout-main {
  min-height: 100vh;
  position: relative;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.logo {
  width: 120px;
}

/*header icons*/
.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-main {
  border: 1px solid var(--light-color);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex !important;
  padding: 0.25rem !important;
  align-items: center;
  justify-content: center;
  position: relative;
}
.icon-main-container {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
/*header icons to be primary-color on parent hover*/
.icon-wrapper .nav-link:hover .text-secondary {
  color: var(--primary-color) !important;
}

.nav-link {
  padding: 0.25rem 0.5rem !important;
}
/*header cart icon badge*/
.badge {
  position: absolute;
  right: -4px;
  top: -4px;
}

.search-form {
  flex-grow: 1;
}

/*card text to have less margin*/
.card-title,
.card-text {
  margin-bottom: 0.25rem !important;
}

.card-img-wrapper {
  padding: 1rem 3rem 0 3rem;
}

.main-header {
  margin: 1.75rem 0;
}

.school-logo {
  width: 150px !important;
  height: 150px;
}
.school-button:is(:link, :visited, :hover, :active) {
  text-decoration: none;
}

/*login form*/
.login-form-column {
  border: 1px solid var(--light-color);
  border-radius: 0.5rem;
  padding: 1rem;
}
.eye-slash-wrapper {
  border-radius: 0 0.25rem 0.25rem 0 !important;
  background: var(--input-default-bg) !important;
  border-left: none !important;
}
.form-login-password {
  border-right: none !important;
}

/*negative margin for top*/
.mt--1 {
  margin-top: -1rem !important;
}

.button-transition {
  transition: all 1s !important;
}

/*scroll to top icon color*/
#root > div > button > svg {
  fill: var(--primary-color);
}

.first-letter-big::first-letter {
  font-size: 200%;
  color: var(--primary-color);
}

.text-indent {
  text-indent: 2rem;
}

hr.hr-special {
  border-width: 0 0 1px;
  border-image: linear-gradient(
      90deg,
      rgba(0, 123, 255, 0),
      rgba(0, 123, 255, 1) 50%,
      rgba(0, 123, 255, 0) 100%
    )
    0 0 100%;
  border-style: solid;
}
#uncontrolled-tab-tab-izmir,
#uncontrolled-tab-tab-ankara,
#uncontrolled-tab-tab-kayseri {
  border: 1px solid var(--primary-color);
}

/*media queries*/
@media screen and (max-width: 576px) {
  .btn,
  p {
    font-size: 0.875rem !important;
  }
  /*book cards not to have extra padding on x axis*/
  .book-card:nth-child(2n + 1) {
    padding-right: 7.5px !important;
    padding-bottom: 0 !important;
  }
  .book-card:nth-child(2n) {
    padding-left: 7.5px !important;
    padding-bottom: 0 !important;
  }
}

/* for the first nav-link to have no padding*/
/* .navbar-expand-md .navbar-nav .nav-link:first-child {
  padding-left: 0 !important;
} */
